<div>
  <br>
  <br>
  <h1>&nbsp;&nbsp;Product Details:</h1>
  <div class="product-info">
    <div class="product-image">
      <div class="forcenter">
        <img src={{prod.image}} width="175" height="175" />
        <h3>Product Name: {{prod.productName}}</h1>
          <h4>Description: {{prod.description}}</h4>
          <h4>Price($): {{prod.price}}</h4>
      </div>
      <div class="center">
        <h5><a href="productdetails/{{this._id}}"> {{this.productName}} </a></h5>
        <h6>{{this.productCategory}}</h6>
        <h6>{{this.price}}</h6>
        <form action="/cart/addToCart/{{prod._id}}"> 
            <input type="submit" value="Add to Cart">
          </form>
        <div>
          {{#if error}}
          <p>{{error}}</p>
          {{/if}}
        </div>
      </div>
      
      <table class="table table-hover">
        <thead class="thead-light"></thead>
        <tr>
          <div class="addcomments">
            <br><br><br><br>
            <form action="/product/{{prod._id}}" id="commentForm" method="post">
              <label class="lol" for="palstr">Enter your comment:</label>
              <br><textarea id="phrase" name="phrase" style="border:solid"
                placeholder="Your views!" class='full-width-input' required></textarea>
              {{#if error}}
              <p>{{error}}</p>
              {{/if}}
              <br>
              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit">Submit</button>
              <div id="error">
                <ul id="errorList"></ul>
              </div>
              {{#if error}}
              <div class="login-error">
                <p>{{error}}</p>
              </div>
              {{/if}}
            </form>
            <br><br>
            <h5>Comments:</h5>
            <script src="/public/js/comment.js"></script>
            <ul>
              {{#each comments}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </tr>
      </table>
    </div>